@model IEnumerable<PrestamoViewModel>

@{
    ViewBag.Title = "Prestamos";
}

<h2>Listado de prestamos</h2>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square-o fa-lg"></i> Crear prestamo</a>
</p>
@{
//TODO Verificar que exista un tag helper para este caso
}
<table class="table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Deudor.NombreTitular)</th>
            <th>@Html.DisplayNameFor(model => model.Monto)</th>
            <th>@Html.DisplayNameFor(model => model.Porciento)</th>
            <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFin)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(model => item.Deudor.NombreTitular)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.Monto)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.Porciento)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.FechaFin)
                </td>
                <td class="espaciado">
                    <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    <a asp-action="Details" asp-route-Id="@item.Id"><i class="fa fa-info fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-Id="@item.Id"><i class="fa fa-trash-o fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>