@inject Microsoft.AspNet.Hosting.IHostingEnvironment HostingEnvironment
@inject Microsoft.Dnx.Runtime.IApplicationEnvironment ApplicationEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Prestamos</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        @{
//TODO Crear las configuraciones para un ambiente de producción
/*Url's de prod de las diferentes librerias
fontawesome: //maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css
*/
        }
    </environment>

    @RenderSection("Css", required: false)

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-light bg-faded">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Prestamos</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Inicio<span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Cliente" asp-action="Index" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Prestamo" asp-action="Index" class="nav-link">Prestamos</a>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - Prestamos</p>
        </footer>
    </div>
    <environment names="Development">
        <script type="text/javascript" src="~/js/site.js"></script>
        <script type="text/javascript" src="~/lib/requirejs/require.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript">
            //TODO Crear las configuraciones para un ambiente de producción
            /*Url's de prod de las diferentes librerias
            site: ~/js/site.min.js
            jquery: //ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js
            require: //cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js
            bootstrap: //ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js
            hammer: //ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js
            carousel: //ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js
            */
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
<!-- Environment: @HostingEnvironment.EnvironmentName -->
<!-- Framework: @ApplicationEnvironment.RuntimeFramework -->