@model BuscarClienteViewModel

@{
    IEnumerable<ClienteViewModel> clientes = ViewBag.clientes;
    //TODO Verificar si se tomo en cuenta el bug que levante para los placeholders
    //github.com/aspnet/Mvc/issues/3213
}

<div class="container" id="BuscadorClientes">
    <h3>Clientes</h3>

    <form asp-action="BuscarClientes" method="get" class="form-horizontal" role="form">
        <h4>Buscar cliente</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <div class="form-group col-md-12">
            <label asp-for="Cedula" class="sr-only"></label>
            <input asp-for="Cedula" placeholder="@Html.DisplayNameFor(model => model.Cedula)" v-model="cedula" class="form-control" />
        </div>

        <div class="form-group col-md-12">
            <label asp-for="Nombre" class="sr-only"></label>
            <input asp-for="Nombre" placeholder="@Html.DisplayNameFor(model => model.Nombre)" v-model="nombres" class="form-control" />
        </div>

        <div class="form-group col-md-12">
            <label asp-for="Apellido" class="sr-only"></label>
            <input asp-for="Apellido" placeholder="@Html.DisplayNameFor(model => model.Apellido)" v-model="apellidos" class="form-control" />
        </div>

        <div class="form-group col-md-12">
            <button type="button" v-on="click: BuscarClientes" class="btn btn-default">Buscar</button>
        </div>
    </form>
    <!--TODO Mover esta pagina a una vista partial, al igual que esta tabla, para crear un llamado en cadena
        que se puede utilizar para agregar una busqueda de clientes (Verificar como se mostraria en la pagina de prestamos)-->

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr vm-on="click: SeleccionCliente" data-clienteId="@cliente.Id" data-nombre="@cliente.NombreTitular">
                    <td>@cliente.Cedula</td>
                    <td>@cliente.NombreCompleto</td>
                    <td>@cliente.Edad</td>
                </tr>
            }
        </tbody>
    </table>
</div>