@model IEnumerable<ClienteViewModel>

@{
    ViewBag.Title = "Clientes";
}

<h2>Listado de clientes</h2>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square-o fa-lg"></i> Crear cliente</a>
</p>
@{
//TODO Verificar que exista un tag helper para este caso
//TODO arreglar formato de la cédula
}
<table class="table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cedula)</th>
            <th>@Html.DisplayNameFor(model => model.NombreTitular)</th>
            <th>@Html.DisplayNameFor(model => model.Edad)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(model => item.Cedula)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.NombreTitular)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.Edad)
                </td>
                <td class="espaciado">
                    <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                    <a asp-action="Details" asp-route-Id="@item.Id"><i class="fa fa-info fa-2x"></i></a>
                    <a asp-action="Delete" asp-route-Id="@item.Id"><i class="fa fa-trash-o fa-2x"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>