@model IEnumerable<Negocios.Cliente>

@{
    ViewBag.Title = "Clientes";

}
<h2>Listado de clientes</h2>

<p>
    <a asp-action="Create">Crear cliente</a>
</p>
@{
    //TODO Verificar que exista un tag helper para este caso
}
<table class="table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cedula)</th>
            <th>@Html.DisplayNameFor(model => model.NombreTitular)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayTextFor(model => item.Cedula)
                </td>
                <td>
                    @Html.DisplayTextFor(model => item.NombreTitular)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-Id="@item.Id">Detalles</a>
                    <a asp-action="Delete" asp-route-Id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>